.sign-in-container {
	display: flex;
	flex-direction: column;
	width: 380px;

	h2 {
		margin: 10px 0;
	}
}

.button-flex {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	justify-content: space-between;
}
